/* Define custom fonts */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('fonts/ballpark.eot');
    src: url('fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format('truetype'),
         url('fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
   background: url('images/yellow_background.png');
   font-family: 'Trebuchet MS', Arial, sans-serif;
   color: #181818;
}

#body_wrapper {
  max-width: 920px;
  margin: 0 auto;
}

header{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: url('images/line.png') 42% round;
}

header h1{
  font-family: 'BallparkWeiner';
  font-size: 3vw;
  font-weight: normal;
}

header h1 img{
  height: 7vw;
  max-height: 60px;
}

#header_bottom_row{
  display:flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

header h2{
  margin: 0;
  font-weight: normal;
  font-size: 1.6vw;
  font-family: 'Dayrom';
  bottom: 0;
  align-self: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav li {
  margin: 0;
  margin-right: 20px;
  flex: 1 1 0;
}

nav a, #banner_description a{
  text-decoration: none;
}

nav a{
  color: black;
  text-transform: uppercase;
  font-family: 'Dayrom';
  font-size: 1.6vw;
}

#banner{
  position: relative;
  margin-top: 3%;
  background-image: url('images/sanfrancisco.jpg');
  box-shadow: 0px 4px 4px #1c1a19;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 23.06%;
  border-radius: 10px;
}

#banner_description{
  width: 100%;
  height: 20%;
  display: flex;
  background: rgba(0,0,0,0.7);
  justify-content: space-between;
  align-content: center;
  position: absolute;
  bottom: 0;
  color: white;
  border-radius: 0 0 10px 10px;
}

#banner_description p{
  margin: 1.5% 0 1.5% 1.5%;
  overflow: hidden;
  font-size: 1vw;
}

button.article_link{
  margin: 1% 1.5% 1% 0;
  height: 60%;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #ab7072 0%, #8f4143 47%, #741215 100%);
  border-width: 0;
  color: white;
  font-size: 1vw;
}

img.article_link {
  max-height: 11px;
  min-height: 3.5px;
  height: 1vw;
}

section{
  margin: 2% 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 3%;
  grid-template-areas:
  "article article article article article aside aside"
  "line line line line line line line "
  ". . . arrow . . .";

}

article{
  grid-area: article;
}

article #headline{
  display: flex;
}

article h1{
  font-family: 'Dayrom';
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
  font-size: 1.6vw;
}

article img{
  max-height: 47px;
  height: 3.5vw;
}

article p{
  font-family: "Trebuchet MS";
  word-spacing: 2px;
  font-size: 1.2vw;
}

aside{
  grid-area: aside;
  color: white;
  margin: 1%;
}

aside div#aside_content{
  position: relative;
  background-color: #706b64;
  border-radius: 5px;
  padding: 6%;
}

aside h1{
  font-family: 'Dayrom';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.1vw;
  text-align: center;
}

aside img#zozor_picture{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 120px;
  height: 10vw;
  border: 1px solid black;
}

aside img#arrow{
  position: absolute;
  left: -12px;
  top: 15%;
}

aside p{
  font-family: "Trebuchet MS";
  font-size: 1.2vw;
}

aside ul{
  padding: 0;
  margin: 4% 0;
  list-style: none;
  display: flex;
}

aside li{
  flex: 1 1 0;
  margin: 0;
  margin-right: 3px;
}

aside li img{
  max-height: 38px;
  height: 3.5vw;
}

section div#line{
  grid-area: line;
  margin-top: 2%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: url('images/line.png') 42% round;
}

section input{
  grid-area: arrow;
  justify-self: center;
  max-width: 54px;
  min-width: 27px;
  width: 4vw;
}

footer{
  margin-bottom: 3%;
}

footer div#footer_content{
  display: flex;
  margin-right: 3%;
}

#footer_content div{
  flex: 1 1 0;
}

footer h1{
  font-family: 'Dayrom';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.6vw;
}

footer p, footer a{
  font-family: "Trebuchet MS";
  font-size: 1.2vw;
}

div#gallery_preview{
  margin-left: 1%;
}

div#gallery_preview ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

div#gallery_preview li{
  flex: 1 1 0;
}

div#gallery_preview img{
  border: 1px solid black;
  max-height: 69px;
  min-height: 34px;
  height: 5vw;
}

div#friend_list h1{
  margin-left: 10%;
}

div#friend_list ul{
  list-style: none;
  margin: 0;
  margin-left: 6%;
  padding: 0;
  column-count: 2;
}

div#friend_list li{
  position: relative;
  display: flex;
  margin: 3% auto;
}

div#friend_list a{
  color: #760001;
  text-decoration: none;
  align-self: center;
}

div#friend_list img{
  max-height: 9px;
  min-height: 2px;
  height: 0.8vw;
  align-self: center;
}



/*Set maximum font/background size*/
@media screen and (min-width: 1200px){
  header h1{font-size: 36px}
  header h2, nav a, article h1, footer h1{font-size: 20px}
  .article_link{font-size: 12px}
  article p, aside p, footer p, footer a{font-size: 16px}
  aside h1{font-size: 17px}
}

/*Set minimum font/background size*/
@media screen and (max-width: 450px){
  header h1{font-size: 14px}
  header h2, nav a, article h1, footer h1{font-size: 8px}
  .article_link{font-size: 5px}
  article p, aside p, footer p, footer a{font-size: 6.5px}
  aside h1{font-size: 7px}
}
